<form>
    <div class="form-group">
    <label>Titulo</label>
    <input  [(ngModel)]= "anuncio.Titulo" type="text" class="form-control" id="Titulo"  name="Titulo" placeholder="Ingrese el nombre del nuevo Tipo">
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        <input  [(ngModel)]= "anuncio.desca" type="text" class="form-control" id="desca"  name="desca" placeholder="Ingrese el nombre del nuevo Tipo">
        </div>
    
    <div class="form-group">
            <button (click)="saveTipo()" class="btn btn-success">Crear</button>
     </div>
            
    
    
    
    </form>
