<form>
    <div class="form-group">
    <label>Nombre</label>
    <input  [(ngModel)]= "hito.nombreH" type="text" class="form-control" id="nombreH"  name="nombreH" placeholder="Ingrese el nombre del nuevo Tipo">
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input  [(ngModel)]= "hito.desch" type="text" class="form-control" id="desch"  name="desch" placeholder="Ingrese el nombre del nuevo Tipo">
        </div>
        <div class="form-group">
            <label>Nombre</label>
            <input  [(ngModel)]= "hito.tipoh" type="text" class="form-control" id="tipoh"  name="tipoh" placeholder="Ingrese el nombre del nuevo Tipo">
            </div>
        <div class="form-group">
            <label>Nombre</label>
            <input  [(ngModel)]= "hito.fechainih" type="text" class="form-control" id="fechainih"  name="fechainih" placeholder="Ingrese el nombre del nuevo Tipo">
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input  [(ngModel)]= "hito.fechaendh" type="text" class="form-control" id="fechaendh"  name="fechaendh" placeholder="Ingrese el nombre del nuevo Tipo">
                </div>
        
    
    <div class="form-group">
            <button (click)="saveTipo()" class="btn btn-success">Crear</button>
     </div>
            
    
    
    
    </form>
