<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Qualitat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/home">Tipo <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/hito">Hitos</a>
      <a class="nav-item nav-link active" routerLink="/anuncio">Anuncios</a>
    
    </div>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>

</div><div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v5.0"></script>